.header {
    width: 100vw;
    height: 40px;
    position: fixed;
    background-color: lightblue;
    z-index: 5;
    text-align: right;
    padding: 30px 0;
}
.modal {
    background-color: white;
    width: 50%;
    height: 80%;
    margin: 5rem auto;
}
.cartItem {
    padding: 2px;
    border: black 1px solid;
    
}
.cartProductImg {
    width: 15%;
    display: inline-block;
}
.cartInfo {
    display: inline-block;
}